<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'addproject')}">

<body>

    <form class="form-horizontal" action="#" th:action="@{'/' + ${username} + '/' + 'addproject'}" th:object="${projectForm}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="title" name="title" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="description" name="description" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Add Repository</button>
            </div>
        </div>
    </form>

</body>
</html>