<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

    <body>
        <div>
            <h1 th:text="${commit.name}">commit name</h1>
            <h5 th:text="${commit.description}">commit description</h5>
            <h5 th:text="${commit.createdAt}">commit date</h5>
        </div>

        <br>
        <div th:each="fileForm : ${fileForms}">
            <h4><a th:text="${fileForm.fileName}"
                   th:href="@{'/' + ${username} + '/' + ${projectUrl} + '/' + ${branchName} + '/file/'
                    + ${fileForm.fileName}}">file name</a></h4>
            <pre style="
                    border: 1px solid #999;
                    display: block;
                    padding: 20px;">
                <code th:text="${fileForm.fileData}">
                    CodeText
                </code>
            </pre>
            <br>
        </div>

    </body>
</html>