<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'user')}">

<body>
    <table class="table table-striped">
        <tr>
            <th>Commit Name</th>
            <th>Commit Description</th>
            <th>Commit Creator</th>
        </tr>
        <tr th:each="commit : ${commits}">
            <th><a th:href="@{'/' + ${username} + '/' + ${projectUrl} + '/'
            + ${branchName} + '/commit/' + ${commit.id}}" th:text="${commit.name}">
                Onions</a></th>
            <!--<th th:text="${commit.name}">Onions</th>-->
            <th th:text="${commit.description}">Onions</th>
            <th th:text="${commit.creator.username}">Onions</th>
        </tr>
    </table>
</body>
</html>