<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'')}">

<body>
    <h4 th:text="${fileForm.fileName}">file name</h4>
    <h5 th:text="'version at ' + ${currentCommit.name}">current commit</h5>
    <div th:if="${currentCommit.id != lastCommit.id}">
        <form th:action="@{'/' + ${username} + '/' + ${projectUrl} + '/'
            + ${branchName} + '/' + ${fileForm.fileId} + '/' + ${currentCommit.id} + '/getprevious' }" method="get">
            <input type="hidden" name="_method" value="button" />
            <button type="submit" id="submitButton" class="btn btn-success">Come back to this version</button>
        </form>
    </div>
    <br>
    <!--delete file button-->
    <form th:action="@{'/' + ${username} + '/' + ${projectUrl} + '/'
            + ${branchName} + '/' + ${fileForm.fileId} + '/deletefile' }" method="get">
        <input type="hidden" name="_method" value="button" />
        <button type="submit" id="submitButton" class="btn btn-danger">Delete file</button>
    </form>

    <br>
    <table class="table table-striped">
        <tr>
            <th>Commit</th>
            <th>Description</th>
            <th>Creator</th>
        </tr>
        <tr th:each="commit : ${commits}">
            <th><a th:href="@{'/' + ${username} + '/' + ${projectUrl} + '/'
            + ${branchName} + '/' + ${commit.id} + '/file/' + ${fileForm.fileName}}" th:text="${commit.name}">
                Onions</a></th>
            <!--<th th:text="${commit.name}">Onions</th>-->
            <th th:text="${commit.description}">Onions</th>
            <th th:text="${commit.creator.username}">Onions</th>
        </tr>
    </table>
    <pre style="
    border: 1px solid #999;
    display: block;
    padding: 20px;">
        <code th:text="${fileForm.fileData}">
            CodeText
        </code>
    </pre>
</body>
</html>