<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

    <div sec:authorize="isAuthenticated()">
        <p><a th:href="@{/logout}">Logout</a></p>
    </div>

    <h2 th:text="#{welcome}">Welcome</h2>

    <ul>
        <li><a th:href="@{/login}">Login Page</a></li>
        <li><a th:href="@{/registration}">SignUp Page</a></li>
    </ul>

    <table>
        <tr>
            <th>USER</th>
            <th>EMAIL</th>
            <th>ID</th>
            <th>DATE</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Onions</td>
            <td th:text="${user.email}">Onions</td>
            <td th:text="${user.id}">Onions</td>
            <td th:text="${user.createdAt}">Onions</td>
        </tr>
    </table>


</body>
</html>