<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'user')}">

<body>
    <h1><span th:text="${project.title}">Project Title</span></h1>
    <h3><span th:text="${project.description}">Project Description</span></h3>
    <table class="table table-striped">
        <tr>
            <th>0 commits</th>
            <th>master</th>
            <th th:if="${userRequested.username == usernameLoggedIn}"><a th:href="@{'/' + ${userRequested.username} + '/' + ${project.url} + '/settings'}">Settings</a></th>
        </tr>
    </table>
    <p th:if="${userRequested.username == usernameLoggedIn}"><a th:href="@{'/' + ${userRequested.username} + '/' + ${project.url} + '/settings'}">Settings</a></p>
</body>
</html>