<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'user')}">

<body>
    <h1><span th:text="${project.title}">Project Title</span></h1>
    <h5><span th:text="${project.description}">Project Description</span></h5>
    <table class="table table-striped">
        <tr>
            <th>0 commits</th>
            <th>
                <select>
                    <!--<option value="">Select branch</option>-->
                    <option th:each="branch : ${branches}"
                            th:value="${branch.name}"
                            th:text="${branch.name}"></option>
                </select>
            </th>
            <th th:if="${userRequested.username == usernameLoggedIn}"><a th:href="@{'/' + ${userRequested.username} + '/' + ${project.url} + '/settings'}">Settings</a></th>
        </tr>
    </table>

    <table class="table table-striped">
        <tr>
            <th>Commit Name</th>
            <th>Commit Description</th>
            <th>Commit Creator</th>
        </tr>
        <tr th:each="commit : ${commits}">
            <td th:text="${commit.name}">Onions</td>
            <td th:text="${commit.description}">Onions</td>
            <td th:text="${commit.creator.username}">Onions</td>
        </tr>
    </table>
</body>
</html>