<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'user')}">

<body>
    <h1><span th:text="${userRequested.username}">Username</span></h1>
    <h5><span th:text="${userRequested.createdAt}">Created At</span></h5>
    <h3>Projects</h3>
    <table class="table table-striped">
        <tr th:each="project : ${projects}">
            <td> <a th:text="${project.title}" th:href="@{'/' + ${userRequested.username} + '/' + ${project.url}}">Project Url</a></td>
            <td th:text="${project.createdAt}">Created At</td>
        </tr>
    </table>

</body>
</html>